@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 讓padding和border不會撐大元素 */
}
/* 全局平滑滾動 */
/* html {
    scroll-behavior: smooth;
} */

:root {
    --main-bg-color: #f0f0f0;;
    --accent-color: #004d40;
    --hover-color: #00796b;
    --text-color: #333333;
    --border-radius: 8px;
    --transition-speed: 0.3s;
}

 /* 新加  淡入 */
 @keyframes fadeIn {
    from {
        opacity: 0;/* 透明度 */
        transform: translateY(20px); /* Y軸位移 */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.container h1, main h2 , .database { 
    animation: fadeIn 1s ease forwards; /* 動畫名稱 時間 函數 保持最後狀態 */
}




.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container h1 {
    text-align: center;
    font-size: 2.5em;
    color: var(--main-bg-color);
    margin: 15px 0 0 0 ;  
    color: #004d40; /* 深綠色主色 */
    font-weight: bold;
}


body {
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--main-bg-color);
    color:#f0f0f0;
    margin: 0;
    padding: 0;
}

/* 頂部導航區域 */
.header {
    display: block;
    align-items: center;
    /*background-color: #004d40;*/
    color: #004d40;
    padding: 10px 20px;
}
.header h1 {
    flex-grow: 1;
    text-align: center; /* 將標題文字置中 */
    font-size: 2.5rem;
}

.hamburger-menu {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    margin-right: auto; /* 靠左對齊 */
}
 
.navbar {
    display: flex;
    align-items: center;
    margin: auto;
    .item {
        flex-grow: 1;
        padding: 20px;
        border-bottom: 5px solid transparent;
        transition: 0.3s;
        &:hover {
            border-bottom: 5px solid #0e4d2d;
        }
    }
}

 
.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

/*
.navbar a:hover {
    background-color: #00796b;
    color: #004d40;
}
*/
/* 主內容區域 */
.main-container {
    padding: 20px;
}
.database {
    margin-bottom: 20px;
}
.data-output {
    margin-top: 20px;
}

/* 響應式設計
@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        background-color: #004d40;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        padding: 10px;
        z-index: 1000;
        transition: max-height 0.3s ease;
    }
    .navbar.show {
        display: flex;
    }
    .navbar a {
        padding: 10px;
        text-align: center; /* 將文字置中 */
    /* } */
    /* .hamburger-menu {
        display: block; /* 移动端显示汉堡菜单 */
    /* }
} */ 

/* 電腦版設計 */
@media screen and (min-width: 769px) {
    .hamburger-menu {
        display: none;
    }
}
main {
    margin: 0px 60px 0px 60px; /* 外距，讓 `main` 與螢幕邊緣有間距 */
    padding: 0px auto; /* 內距，讓 `main` 內的內容不緊貼邊框 */
    max-width: 1200px;
}





/* ----------------------------------------基本資料----------------------------------------- */
.database{
    display: block;
    flex: 1; /* 佔據 50% 的寬度 */
}
.database h2{
    color: #004d40; /* 深綠色主色 */
    border-bottom: 2px solid #004d40; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#bmiForm {
    display: block;
    flex: 1; /* 佔據 50% 的寬度 */
    background-color: transparent;
    padding: 0px;
    margin: 0 ;
    width: 100%;
    max-width: 300px; /* 設定表單最大寬度，避免在桌面上過大 */
}
#bmiForm label {
    display: flex;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 5px;
}
#bmiForm input[type="text"],
#bmiForm input[type="number"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #4b5a16;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="radio"] {
    margin-right: 10px; /* 調整圓圈點與文字的距離 */
}
/* -----------------BMI、體脂率計算結果、基礎代謝率計算結果--------------------- */

#dataoutput {
    display: block;
    color: var(--accent-color);
    flex: 1; /* 佔據 50% 的寬度 */
    margin: 20px auto;
    animation: fadeIn 1s ease forwards; /* 動畫名稱 時間 函數 保持最後狀態 */
}
#dataoutput h1 {
    color: #004d40; /* 深綠色主色 */
    border-bottom: 2px solid #004d40;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#dataoutput h2 {
    color: #004d40; /* 深綠色主色 */
    margin-bottom: 20px;
}
#dataoutput p {
    color: #004d40; /* 深綠色主色 */
    margin-bottom: 20px;
}
/* bmi輸出 */
#bmiFeedback {
    color: #004d40; /* 深綠色主色 */
    /* border-bottom: 2px solid #004d40;  */
    padding-bottom: 30px;
    margin-bottom: 2px;
}

/* 體脂率計算結果 */
#bodyFatOutput {
    color: #004d40; 
    /* border-bottom: 2px solid #004d40; */
    padding-bottom: 30px;
    margin-bottom: 20px;
}

/* 基礎代謝率計算結果 */
#bmrOutput {
    /* color: #004d40; 深綠色主色 */
    /* border-bottom: 2px solid #004d40; */
    padding-bottom: 30px;
    margin-bottom: 20px;
}

/* ------------------------------每日總熱量消耗 (TDEE)--------------------------- */
.divider{
    display: block;
    align-items: center;
    color: #004d40; /* 深綠色主色 */
    border-bottom: 2px solid #004d40;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* TDEE 標題 */
.tdee-title {
    font-size: 2rem;
    color: var(--accent-color);
    text-align: center;
    margin: 20px 0;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
}
/* ----------------------------請選擇您的活動模式---------------- */
/* 子標題樣式 */
/* 活動模式標題 */
.activity-mode-section h2 {
    font-size: 1.5rem;
    color: #004d40;
    text-align: center;
    margin-bottom: 20px;
}

/* 活動模式區域 */
.activity-mode {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* 活動選項基礎樣式 */
.activity-option {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.activity-option input[type="radio"] {
    margin-right: 5px;
    display: none;
}

/* 自訂選項樣式             一般 減重改方塊 */
.activity-option span {
    display: block;
    padding: 10px 20px;
    border: 2px solid #004d40;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
/* 選中狀態 */    
.activity-option input[type="radio"]:checked + span {
    background-color: #004d40;
    color: #ffffff;
    transform: scale(1.1);
}
/* 滑過效果 */
.activity-option:hover span {
    background-color: #00796b;
    color: #ffffff;
}

/* -------------------------選擇活動程度---------------------------- */
/* 下拉選單樣式 */
.custom-select-wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.custom-select {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    color: var(--accent-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--accent-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

.custom-select:hover,
.custom-select:focus {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    outline: none;
}

/* 按鈕樣式 */
button#calculateActivityBMRBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--main-bg-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

button#calculateActivityBMRBtn:hover {
    background-color: var(--hover-color);
}

/* 輸出區域 */
#activityBmrOutput {
    text-align: center;
    font-size: 1.2rem;
    color: var(--accent-color);
}


@keyframes highlight {
    0% {
        background-color: #f0f9f8; /* 高亮顏色 */
    }
    100% {
        background-color: transparent; /* 恢復透明 */
    }
}

.image-section img{
    display: flex;
    position: relative;
    padding: 20px 0px;
}




/* footer {
    background-color: #004d40; 深綠色主色
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 1em;
} */
#calorieForm {
    display: block;
    flex: 1; /* 佔據 50% 的寬度 */
    background-color: transparent;
    margin-left: 200px ;
    width: 100%;
    max-width: 300px; /* 設定表單最大寬度，避免在桌面上過大 */
}
#calorieForm button {
    z-index: 10; /* 確保按鈕在其他元素上層 */
    position: relative;
    background-color: #0e4d2d;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
button:hover {
    transform: scale(1.05);
    background-color: #089b58;
}

footer{
    background-color: #004d40; /* 深綠色主色 */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}





#goTop {
    position: fixed;
    right: 20px;
    bottom: 70px;
    display: none;
    width: 90px;  
    height: 90px;
    background-color: #098245;
    color: white;
    border: none;
    text-align: center;
    line-height: 90px;
    text-decoration: none;
    border-radius: 50%; 
    font-size: 40px;
    z-index: 1000;
}

#goTop:hover {
    background-color: #089b58;
} 



/* 網頁版 */
@media screen and (min-width: 600px) {
    #goTop {
        right: 100px;
        width: 90px;
        height: 90px;
    }
    
    #business_card img {
        width: 100%;
    }
}

/* 手機版 */
@media screen and (max-width: 600px) {
    #goTop {
        right: 150px;  /* 讓按鈕距離右邊更近 */
        bottom: 50px; /* 讓按鈕距離底部更近 */
        width: 60px;  /* 按鈕縮小尺寸 */
        height: 60px;
        line-height: 60px;
        font-size: 30px;
    }
    
    #business_card img {
        width: 90%;   /* 縮小圖片寬度 */
        margin: 0 auto; /* 居中圖片 */
    }
}



.navbar {
    display: flex;
    align-items: center;
    margin: auto;
    .item {
        flex-grow: 1;
        padding: 15px;
        border-bottom: 5px solid transparent;
        transition: 0.3s;
        &:hover {
            border-bottom: 5px solid #0e4d2d;
        }
    }
}

.header {
    display: block;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: auto 0;
    text-align: center;
    color: var(--accent-color);          
}
    

header h1 {
    background-color: #004d40;  /*深綠色主色*/
    margin: 0;
    font-size: 2.5em;
}


.tooltip {
    display: none; /* 初始狀態為隱藏 */
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px; /* 提示框寬度 */
    max-width: 200px; /* 最大宽度 */
    border-radius: 5px; /* 圆角 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 阴影 */
}

.tooltip h4 {
    font-weight: bold; /* 標題加粗 */
    margin: 0 0 5px; /* 標題下方的間距 */
}

/* 電腦版響應式 */
@media screen and (min-width: 920px){ 
    .topPage{
        display: flex;
    }
    .topPage header{
        flex-basis: 38%;/* 用% 較彈性 */
    }
    .topPage main{
        flex-basis: 62%;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        padding: 10px 20px;
    }
    .header h1 {
        font-size: 2rem;
        color: var(--accent-color);
        margin: 0;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        margin: auto;
        .item {
            flex-grow: 1;
            padding: 20px;
            color: var(--text-color);
            border-bottom: 5px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 5px solid #0e4d2d;
            }
        }
    }
    
    .navbar .item {
        text-align: center;
        padding: 15px 100px 15px 100px;
    }
    .navbar:hover .item {
        display: block;
        color: var(--text-color);
        background-color: transparent;
    }
    
    
    .main-container {
        margin: 0 auto; /* 確保居中對齊 */
    padding: 0;     /* 移除內距 */
    width: 100%;    /* 設置容器寬度為 100% */
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .container h1 {
        text-align: center;
        font-size: 2.5em;
        margin: 20px 0 0 0 ;
    }
    
    .container span {
        display: block;
        text-align: center;
        align-items: center;
        color: #0e4d2d;
    }
    .database {
    flex: 1; /* 佔據 50% 的寬度 */
    max-width: 40%; /* 限制寬度為畫面的 50% */
    display: block;
    width: 100%;
    padding-left: 200px;
    animation: fadeIn 1s ease forwards; /* 動畫名稱 時間 函數 保持最後狀態 */
    } 
    
    /* 輸出區域 */
   #dataoutput{
        position: absolute;
        max-width: 100%; /* 限制寬度為畫面的 50% */
        top:25%;
        left: 60%;
        padding: 20px;
    }

    .image-section img{
        display: block;
        width: 100; 
        background-color: aqua ;
        padding-left:100px ;
        border-radius: 10%;
        box-shadow: 0 4px 10px rgba(0, 0.3, 0.6, 0.1);
    }
    #calorieForm {
        display: block;
        background-color: transparent;
        margin-left: 200px ;
        width: 100%;
        max-width: 300px; /* 設定表單最大寬度，避免在桌面上過大 */
    }
    #calorieForm button {
        background-color: #0e4d2d;
        color: white;
        padding: 10px 20px 10px 20px;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
    div.tot-activity {
        display: flex;
        justify-content: center; /* 水平置中 */
        align-items: center;    /* 垂直置中 */
        height: 100vh;          /* 讓容器填滿整個視窗高度 */
        margin-top: 20px;
        margin-left: 400px ;
    }
    .divider{
        display: block;
        align-items: center;
        color: #004d40; /* 深綠色主色 */
        border-bottom: 2px solid #004d40;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    

}